.menu-container {
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100%;
    padding-bottom: 120px;
}

.app-title {
    font-weight: normal;
    color: white;
}

.cards-section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
