.menu-container {
    position: absolute;
    width: 100vw;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 120px;
    top: 0;
}

.app-title {
    font-weight: normal;
    color: white;
}

.cards-section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.error-box {
    color: red;
    font-size: 1.2em;
    background-color: rgba(59, 2, 2, 0.6);
    width: 50%;
    padding: 20px;
    margin-top: 5px;
    margin: 0 auto;
}