.volume-container {
    padding: 15px;
}

.volume-slider {
    margin: 0 5px;
}

.volume-container svg {
    padding: 2px;
}

.volume-container svg:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}