.card {
    height: 300px;
    width: 250px;
    background-color: lightgoldenrodyellow;
    border-radius: 9px;
    overflow: hidden;
    cursor: pointer;
}

.top--card {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title--card {
    width: 100%;
    height: 20%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}