.settings-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.timer-checkbox--container {
    margin: 15px;
}

.timer-checkbox {
    margin-right: 5px;
}


.timer--settings {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-minutes, .input-countdown {
    align-self: center;
    width: 25px;
}